:host {
  padding: 0 8px;
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
}

#details-container {
  height: 100%;
}

.wrapper {
  height: 100%;
}