:host {
  height: 100%;
  width: 350px;
  min-width: 350px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #06579A;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 8px 5px;
}